# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/front-end/node_modules
/packages/back-end/node_modules
/packages/back-end/.env
/packages/front-end/.pnp
/packages/front-end/.pnp.js

# testing
/packages/front-end/coverage

# production
/packages/front-end/build
/packages/back-end/build

# misc
/packages/front-end.DS_Store
/packages/front-end.env.local
/packages/front-end.env.development.local
/packages/front-end.env.test.local
/packages/front-end.env.production.local

/packages/front-endnpm-debug.log*
/packages/front-endyarn-debug.log*
/packages/front-endyarn-error.log*
